@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(223, 207, 70, 0.75);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  left: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.subtext {
  font-size: 2rem;
  line-height: 2rem;
  font-stretch: normal;
  display: block;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 1 / -1;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 1 / -1;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0 0.5;
  padding: 1;
  grid-column: 1 / -1;
  margin-bottom: var(--spacing);
}

blockquote p {
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

.left {
  grid-column: 1 / -1;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* Style for social icons */
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  margin: 0 10px;
  font-size: 2.5rem;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #ffe600; /* Change to your desired hover color */
}

@media only screen and (min-width: 850px) {

  blockquote {
    /* background: var(--dark-bg); */
    margin: 0;
    padding: 1;
    grid-column: 1 / -1;
    margin-bottom: var(--spacing);
  }

  .social-icons a {
    margin: 0 2rem;
    font-size: 5rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
  }
  
  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }
  
  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }
  
  blockquote {
    /* background: var(--dark-bg); */
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }
  
  .left {
    grid-column: 6 / 12;
  }
}
